<div class="about">
  <h2>Oregon watersheds <span style="font-size: small;"><b>{{{version}}}</b></span></h2>
  <h3>About this site</h3>

  <div>
    <div style="display: inline-block;"><a href="https://oregonhowl.org/" target="_blank"><img src="../images/howlmoonblack.svg" style="height: 50px"></a></div>
    <div style="display: inline-block; position: relative; bottom: 10px;">This is a <a href="https://morinricardo.com/" target="_blank">volunteer</a> project made for <a href="http://oregonwild.org/" target="_blank">Oregon Wild</a>.<br></div>
  </div>
</div>
