<div class="about content">
  <h3>Oregon Drinking Watersheds <span style="font-size: small;"><b>v{{version}} BETA</b></span></h3>

  <div class="notification is-warning">
    <span class="is-size-5"><b>Important:</b></span><br>
    This site is currently under development and it is not ready for public use. Data are still in the process of being compiled and validated.
  </div>

  <h4>About this site</h4>

  <p>This site is an interactive map that can be used to visualize Oregon's surface drinking water sources and to discover the populations connected by way of shared watersheds to a user-selected location on the map.</p>
  <p>A set of basemaps and overlays are available to customize the view.</p>

  <h4>Data Sources</h4>
  <ul>
    <li>Oregon Deparment of Environmental Quality (DEQ), <a href="https://www.oregon.gov/deq/wq/programs/pages/dwp-maps.aspx" target="_blank">Surface water drinking water source areas in Oregon</a></li>
    <li>Bureau of Land Management (BLM), <a href="https://databasin.org/datasets/f8b3f76a7ccc46ee9db67761d9522003/">Watershed Boundaries Oregon</a></li>
    <li>Oregon DEQ, <a href="https://arcgis.deq.state.or.us/arcgis/rest/services/WQ/OregonHydro/MapServer/0">Oregon Hydrography</a></li>
    <li>Oregon Health Authority, <a href="https://yourwater.oregon.gov/index.html" target="_blank">Drinking water data online</a></li>
    <li>Portland State University, <a href="https://www.pdx.edu/population-research/population-estimate-reports" target="_blank">Oregon population estimate reports</a></li>
    <li><a href="http://oregonwild.org/" target="_blank">Oregon Wild</a>, Surface drinking water watershed extent evaluations</li>
  </ul>

  <small><b>Notes about data quality:</b>
    <p>Coming soon...</p>
    <br><br><br>

  </small>

  <p>This project is open source and uses open data.</p>

  <div>
    <div style="display: inline-block;"><a href="https://oregonhowl.org/" target="_blank"><img src="../images/howlmoonblack.svg" style="height: 50px"></a></div>
    <div style="display: inline-block; position: relative; bottom: 10px;">This is a <a href="https://morinricardo.com/" target="_blank">volunteer</a> project made for <a href="http://oregonwild.org/" target="_blank">Oregon Wild</a>.<br></div>
  </div>
</div>
