<a href="#population-item-{{row}}" class="panel-block has-text-weight-semibold" data-action="collapse">{{provider}} ({{population}})</a>
<div id="population-item-{{row}}" class="is-collapsible">
  <div class="panel-block">here goes some detail</div>
</div>
