<div class="content">
  <br>
  <h1 style="color: #fff5d0; text-shadow: 2px 2px #000000;">Oregon Drinking Watersheds</h1>
  <br><br><br><br><br><br>
  <h3 style="color: #fff5d0; text-shadow: 2px 2px #000000;">Discover Oregon populations and communities connected<br>through shared drinking water sources.</h3>
  <br><br>
  <div>
    <label><input type="checkbox" id="welcome-optout"><i>Do not show this again</i></label>
  </div>
  <div style="text-align: right;"><small>Image: Finetooth <a class="license-link" href="https://creativecommons.org/licenses/by-sa/3.0/deed.en" target="_blank">CC BY-SA 3.0</a></small></div>
</div>
